<h3>РЕШЕНИЕ №{{submit.id}}</h3>
{% if time == '1' %}
<p>ПЕРВАЯ ПРОВЕРКА
{% else %}
<p>ВТОРАЯ ПРОВЕРКА
<p>результат первой проверки: {{ submit.first_mark }} ({{ submit.first_judge.last_name }})
{% endif %}

<p>Задача {{ submit.problem.number }}. {{ submit.problem.title }}.

{% if is_picture == '1' %}
  <p><img src={{ MEDIA_URL }}{{ submit.file }}>
{% else %}
  <p><a target="_blank" href={{ MEDIA_URL }}{{ submit.file }}>Скачать работу участника</a>
{% endif %}
<form method="POST" action="/rate/{{ submit.id }}/{{ time }}">{% csrf_token %}
Комментарий проверяющего:<br> <input type="text" name='comment' size=100>
<br><br>Поставьте оценку за эту работу: 
{% for i in marks %}
  <input type="submit" name='subm' value="{{ i }}">
{% endfor %}
<input type="submit" name='subm' value="не оценивать">
</form>
